.carousel-item {
  height: 92.5vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
}

.picture1 {
  height: 100%;
}

.link1 {
  padding: 0 !important;
}
a {
  color: #a9abb1;
}
a:hover {
  color: rgb(224, 218, 218);
}
a:link {
  text-decoration: none;
}
