.card-group-steven {
  display: flex;
  flex-wrap: wrap;
}
.wrapping-page {
  display: inline-flex;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 20px;
}
.card-steven {
  background-color: rgb(255, 255, 255);

  border-color: black;
  border: solid 5px #e7e7e7;
  width: 22.5%;
}

a {
  margin: 20px;
}

.redim_img {
  margin-top: 20px;
  height: 18%;
  width: 20%;
}
