.card-group-steven {
  margin-left: 180px;
}
.wrapping-page {
  display: inline-flex;
  flex-wrap: wrap;
  height: 100%;
  width: 1900px;
  background-color: #343a40;
}
.vente {
  display: inline-flex;
  flex-wrap: wrap;

  background-color: #343a40;
}

ul,
li {
  list-style-type: none;
}
.SideBarre {
  text-align: left;
  padding-top: 55px;
  min-height: 351px;
  color: white;
  position: fixed;
}

h3 {
  padding-top: 46px;
}
h2 {
  padding-left: 20px;
}
.button-validation {
  margin-left: 60px;
  margin-top: 46px;
  border-radius: 5px;
  background-color: white;
}
/*
.sideLeft {
  background-color: #343a40;
  
  min-width: 10%;
  max-width: 15%;
}
*/
.vente {
  background-color: #343a40;
}
nav.navbar.navbar-expand.navbar-light.bg-light {
  width: 1903px;
}
