@media all and (min-width: 480px) {
  .Login {
    padding: 150px 0;
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .Login-logo {
    animation: Login-logo-spin infinite 20s linear;
    height: 30vmin;
    pointer-events: none;
  }

  @keyframes Login-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
