ul,
li {
  list-style-type: none;
}
.SideBarre {
  /*position: fixed;*/
  text-align: left;
  padding-top: 55px;
}
h3 {
  padding-top: 46px;
}
h2 {
  padding-left: 20px;
}
.button-validation {
  margin-left: 60px;
  margin-top: 46px;
  border-radius: 5px;
  background-color: white;
}

.sideLeft {
  background-color: #343a40;
  color: white;
}
